* {
  font-family: Roboto Mono, monospace;
}

header {
  text-align: center;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 50px 0px;
  text-shadow: #fff 0px 0px 10px;
}

article {
  padding: 20px 10px;
  margin: 50px 250px;
  background-color: rgb(46, 139, 87, 0.25);
  opacity: 0.8;
  box-shadow: yellow 0px 0px 10px;
}

#about {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 50px 0px;
  text-shadow: black 0px 0px 10px;
}

body {
  background-color: #00FA9A;
}
